.bottom-16 {
  bottom: 4rem
}

.m-8 {
  margin: 2rem
}

.mt-80 {
  margin-top: 20rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-96 {
  height: 24rem
}

.w-full {
  width: 100%
}

.w-96 {
  width: 24rem
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.overflow-scroll {
  overflow: scroll
}

.bg-light-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(148 154 255 / var(--tw-bg-opacity))
}

.bg-light-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(68 78 255 / var(--tw-bg-opacity))
}

.bg-inherit {
  background-color: inherit
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
