.absolute {
  position: absolute
}

.left-2 {
  left: 0.5rem
}

.top-2 {
  top: 0.5rem
}

.m-8 {
  margin: 2rem
}

.m-2 {
  margin: 0.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mt-24 {
  margin-top: 6rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-48 {
  margin-top: 12rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-\[90\%\] {
  margin-top: 90%
}

.mt-4 {
  margin-top: 1rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-2\/5 {
  height: 40%
}

.h-96 {
  height: 24rem
}

.h-10 {
  height: 2.5rem
}

.h-0\.5 {
  height: 0.125rem
}

.h-0 {
  height: 0px
}

.h-auto {
  height: auto
}

.h-64 {
  height: 16rem
}

.h-48 {
  height: 12rem
}

.h-40 {
  height: 10rem
}

.h-2 {
  height: 0.5rem
}

.h-1 {
  height: 0.25rem
}

.w-full {
  width: 100%
}

.w-2\/5 {
  width: 40%
}

.w-96 {
  width: 24rem
}

.w-2\/3 {
  width: 66.666667%
}

.w-20 {
  width: 5rem
}

.w-64 {
  width: 16rem
}

.w-48 {
  width: 12rem
}

.w-40 {
  width: 10rem
}

.w-80 {
  width: 20rem
}

.w-52 {
  width: 13rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.overflow-scroll {
  overflow: scroll
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-full {
  border-radius: 9999px
}

.border-2 {
  border-width: 2px
}

.border-4 {
  border-width: 4px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-light-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(68 78 255 / var(--tw-border-opacity))
}

.bg-light-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(148 154 255 / var(--tw-bg-opacity))
}

.bg-light-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(68 78 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.text-light-text {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
